<div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card shadow-lg">
          <div class="card-header">
            <h4 class="card-title">Consulta de Produto</h4>
            <p class="card-subtitle">Utilize o formulário para pesquisar produtos.</p>            
          </div>
          <div class="card-body">
            
             <form [formGroup]="form" (ngSubmit)="onSubmit()">

              <div class="mb-3">
                <label for="nomeProduto" class="form-label">Nome do Produto</label>
                <!-- Adicionando o atributo formControlName para vincular o input ao FormControl -->
                <input type="text" formControlName="nome" class="form-control" id="nomeProduto" placeholder="Digite o nome do produto">
              </div>
              <button type="submit" class="btn btn-primary w-100">Pesquisar</button>
            
            </form>


          </div>
        </div>

        <!-- Tabela de Produtos -->
        <div *ngIf="produtos.length > 0" class="card mt-4 shadow-lg">         
          <div class="card-body">

            <!-- Exibindo mensagem de sucesso -->
              <div *ngIf="mensagem" class="alert alert-success mb-2">
              <strong>Sucesso!</strong> {{ mensagem }}
            </div>


            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Preço</th>
                  <th scope="col">Quantidade</th>
                  <th scope="col">Total</th>
                  <th scope="col">Categoria</th>                  
                  <th scope="col" class="text-center">Ações</th>
                </tr>
              </thead>
              <tbody>
                <!-- A diretiva *ngFor é utilizada para iterar sobre uma lista de elementos e renderizar um elemento para cada item da lista -->
                <tr *ngFor="let p of produtos">
                  <td>{{p.nome | uppercase}}</td>
                  <td>{{p.preco | currency: 'BRL' }}</td>
                  <td>{{p.quantidade}}</td>
                 <!-- Utilizando a pipe currency para formatar o valor do produto-->
                  <td>{{p.preco * p.quantidade | currency: 'BRL' }}</td>
                  <td>{{p.categoria.nome | uppercase}}</td>

                 <td></td>
                  <td class="text-center">
                    <button class="btn btn-warning btn-sm me-1">Atualizar</button>
                    <button (click)="onDelete(p.id)" class="btn btn-danger btn-sm">Excluir</button>

                   

                  </td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>